#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  --app__container__px: 8px;
  --app__container__py: 8px;
  --app__title__height: 60px;
  --app__footer__height: 60px;
}

.app__content {
  position: relative;
  width: calc(1080px / 2.26);
  height: calc(1920px / 2.26);
  max-height: calc(1920px / 2.26);
  min-height: calc(1920px / 4);
  padding: 12px;

  background-color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  border-radius: 0.4rem;

  /* flex-flow: column nowrap; */
}

.app__hero {
  background-color: slateblue;
  width: 100%;
  height: 200px;
  margin: 10px 0;
  padding: 10px 0;
  border: 2px solid salmon;
  isolation: isolate;
  border-radius: 0.4rem;
}

.app__provider {
  width: 100%;
  height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__container {
  overflow: hidden;
  position: relative;
  background-color: #444;
  padding-top: calc(
    16px + var(--app__container__py) + var(--app__title__height)
  );
  padding-left: var(--app__container__px);
  padding-right: var(--app__container__px);
  padding-bottom: calc(
    12px + var(--app__container__py) + var(--app__footer__height)
  );
  border-radius: 0.4rem;
  height: 100%;
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.app__title,
.app__footer {
  width: calc(100% - 2 * var(--app__container__px));

  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: flex;
  place-items: center;
  place-content: center;
}

.app__title {
  top: 8px;
  height: var(--app__title__height);
  background-color: sandybrown;
}

.app__footer {
  bottom: 8px;
  height: var(--app__footer__height);
  background-color: coral;
}

.app__container-content {
  height: 100%;
  width: 100%;
  flex: 1;
  /* padding-top: 16px; */
  /* padding-bottom: 12px; */

  border: 1px solid tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__table-container {
  height: 100%;
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__table-wrapper {
  height: 100%;
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__resizer {
  color: #333;
  font-weight: 600;
  position: relative;
  margin-top: 12px;
  cursor: grab;
  border-radius: 0.4rem;
  padding: 4px 8px;
  background-color: mediumspringgreen;

  user-select: none;
}

.app__resizer:hover {
  filter: saturate(1.5);
}
